root = true

[*]
indent_style = space
indent_size = 4

[*.py]
charset = utf-8
trim_trailing_whitespace = true

[*.{yml,yaml}]
indent_size = 2
trim_trailing_whitespace = true

[*.md]
indent_size = 2
trim_trailing_whitespace = false
