name: GitHub Actions
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  setup-test:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
    - name: test
      run: python setup.py test

  test:
    runs-on: ubuntu-18.04
    container: python:alpine-3.8
    steps:
    - uses: actions/checkout@master
    - name: test
      run: |
        make install
        make test

