name: GitHub Actions
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  setup-test:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
    steps:
    - uses: actions/checkout@master
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: test
      run: python setup.py test

  test:
    runs-on: ubuntu-18.04
    container: python:3.8-alpine
      credentials:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    steps:
    - uses: actions/checkout@master
    - name: setup
      run: |
        apk add make
    - name: test
      run: |
        make install
        make test

