name: PyPI Publish
on:
  push:
    tags:
      - v*
  release:
    types:
      - published

jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.7
      uses: actions/setup-python@v5
      with:
        python-version: "3.7"
    - name: Init .pypirc
      env:
        PYPI_USERNAME: __token__
        PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        {
          echo -e '[pypi]'
          echo -e "username = ${PYPI_USERNAME}"
          echo -e "password = ${PYPI_PASSWORD}"
        } >> ~/.pypirc
    - name: Publish
      run: |
        pip install twine wheel
        python setup.py sdist bdist_wheel
        twine upload --repository pypi dist/*
