name: Compile each language tests
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: python:3.12-alpine
      credentials:
        username: ${{ secrets.DOCKERHUB_USERNAME || '' }}
        password: ${{ secrets.DOCKERHUB_TOKEN || '' }}
    steps:
    - uses: actions/checkout@v3
    - name: setup
      run: |
        apk add make
    - name: test
      run: |
        make install
        make test

